# Introductory Jupyter Notebook

This notebook serves as an introduction to Jupyter as a popular tool for data science work.

## Data Science Languages

- Python
- R
- SQL
- Julia...

## Data Science Libraries

- Pandas
- Scikit-Learn
- Numpy
- Matplotlib...

## Data Science Tools

IDEs    | Big Data | Business Intelligence
---     |   ---    |        ---
Jupyter |  Spark   |      Power BI
RStudio |  Hadoop  |        SAS

## Arithmetic Expression Examples

Below are some examples of basic arithmetic expressions

In [1]:
print(5+5)
print(5*5)

10
25

In [2]:
def min2hr(mins):
    return mins/60

print(min2hr(300))

5.0

## Objectives

1. Learn data science tools and techniques
2. Complete hands-on data science projects
3. Have fun

Hi, I'm Arav and I'm a computer science student taking this course to start my data science journey!